{{ define "main" }}
<header>
    <div id="hero-area" class="container">
        <div class="container fixed between desktop-only">
            <div>
                <h3>GO</h3>
            </div>
            <div><a href="#projects">projects</a> | <a href="#contact">contact</a> | <a target="_blank"
                    rel="noopener noreferrer" href="https://github.com/guilhermehto">github</a> | resume </div>
        </div>

        <div class="mobile-only">
            <div class="mobile-menu">
                <label for="menu-toggle"><i class="fas fa-2x fa-bars"></i></label>
                <input id="menu-toggle" type="checkbox" />
                <ul class="mobile-menu-items">
                    <li>
                        <a href="#projects">projects</a>
                    </li>
                    <li>
                        <a href="#contact">contact</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/guilhermehto">github</a>
                    </li>
                    <li>
                        <a href="#">resume</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="center" id="main-heading">
            <h1>guilherme oliveira</h1>
            <h3>full stack developer by day - game dev by night</h3>
            <a href="#projects" class="btn">projects</a>
        </div>
    </div>
</header>
<main>
    <section id="projects">
        <div class="container col fixed">
            <h2 class="center margin-bottom">projects</h2>
            <div class="container wrap even">
                <div class="card">
                    <div class="card-title">
                        <h3>Life Statatraak</h3>
                        <i class="fab fa-html5 tooltip">
                            <span class="tooltiptext">HTML 5</span>
                        </i>
                        <i class="tooltip fab fa-node-js">
                            <span class="tooltiptext">NodeJS</span>
                        </i>
                        <i class="tooltip fab fa-js-square">
                            <span class="tooltiptext">Javascript</span>
                        </i>
                        <i class="tooltip devicon-typescript-plain">
                            <span class="tooltiptext">Typescript</span>
                        </i>
                        <i class="tooltip devicon-mongodb-plain">
                            <span class="tooltiptext">MongoDB</span>
                        </i>
                        <i class="tooltip devicon-express-original">
                            <span class="tooltiptext">Express</span>
                        </i>
                    </div>
                    <div class="card-content">
                        <p>Pwa which allow users to enter information regarding their personal life.</p>
                        <p>The objective is to then use this data to get insights on your life and reach personal goals.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-links">
                            <a href="/"><span><i class="fab fa-github"></i></span> Code</a>
                            <a href="/"><span><i class="fas fa-external-link-alt"></i></span> Access</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">
                        <h3>Toggl Invoice Generator</h3>
                        <i class="fab fa-python tooltip">
                            <span class="tooltiptext">Python</span>
                        </i>
                        <i class="fab fa-html5 tooltip">
                            <span class="tooltiptext">HTML 5</span>
                        </i>
                    </div>
                    <div class="card-content">
                        <p>CLI tool used to generate HTML invoices from hours logged on Toggl.</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-links">
                            <a href="/"><span><i class="fab fa-github"></i></span> Code</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">
                        <h3>Teixeira Real State</h3>
                        <i class="fab fa-html5 tooltip">
                            <span class="tooltiptext">HTML 5</span>
                        </i>
                        <i class="fab fa-js-square tooltip">
                            <span class="tooltiptext">Javascript</span>
                        </i>
                        <i class="devicon-dot-net-plain tooltip">
                            <span class="tooltiptext">ASP.NET</span>
                        </i>
                        <i class="devicon-csharp-plain tooltip">
                            <span class="tooltiptext">C#</span>
                        </i>
                        <i class="fas fa-database tooltip">
                            <span class="tooltiptext">SQL Server</span>
                        </i>
                    </div>
                    <div class="card-content">
                        <p>Real state website which provides users with an admin panel where they're able to create blog
                            posts and manage properties. Unfortunately, not open source.</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-links">
                            <a href="https://teixeira-imobiliaria.com"><span><i
                                        class="fas fa-external-link-alt"></i></span> Access</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">
                        <h3>Portfolio</h3>
                        <i class="fab fa-html5 tooltip">
                            <span class="tooltiptext">HTML 5</span>
                        </i>
                        <i class="fab fa-js-square tooltip">
                            <span class="tooltiptext">Javascript</span>
                        </i>
                        <i class="devicon-go-plain tooltip">
                            <span class="tooltiptext">GO/Hugo</span>
                        </i>
                        <i class="devicon-sass-original tooltip">
                            <span class="tooltiptext">Sass</span>
                        </i>
                    </div>
                    <div class="card-content">
                        <p>This website is open source and made using hugo! Feel free to use the theme.</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-links">
                            <a href="https://github.com/guilhermehto/portfolio"><span><i class="fab fa-github"></i></span> Code</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container col fixed">
            <h2 class="center margin-bottom">contact</h2>
            <h5 id="form-validation-message" class="center">All fields are required.</h5>
            <form id="contact-form" action="https://getform.io/f/d8123212-b5f1-477d-849f-ca0c4f69d681" method="POST">
                <div class="container row center even wrap">
                    <div class="container col">
                        <div class="form-item">
                            <label for="name">Name</label>
                            <input class="form-input" type="text" name="name">
                        </div>
                        <div class="form-item">
                            <label for="email">Email</label>
                            <input class="form-input" type="email" name="email">
                        </div>
                    </div>
                    <div class="container col">
                        <div class="form-item">
                            <label for="message">Message</label>
                            <textarea class="form-input" name="message"></textarea>
                        </div>
                        <button type="submit" class="form-item btn small">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

<script>
    window.onload = () => {
        let menuActive = false
        const mobileMenu = document.querySelector(".mobile-menu")
        const menuToggle = document.querySelector(".mobile-menu label")
        menuToggle.addEventListener("click", () => {
            menuActive = !menuActive
            menuToggle.innerHTML = menuActive
                ? `<i class="fas fa-2x fa-times"></i>`
                : `<i class="fas fa-2x fa-bars"></i>`
            switch (menuActive) {
                case true:
                    mobileMenu.classList.add('fall-down')
                    break;
                case false:
                    mobileMenu.classList.remove('fall-down')
                    break;
            }

        })
    }

    document.getElementById("contact-form").addEventListener("submit", (event) => {
        
        const name = document.getElementsByName("name")[0].value
        const email = document.getElementsByName("email")[0].value
        const message = document.getElementsByName("message")[0].value

        if (name.length == 0 || email.length == 0 || message.length == 0) {
            document.getElementById("form-validation-message").style.visibility = "visible"
            event.preventDefault()
        }
    })
</script>
{{ end }}